body {
  background-color: darkslategray;
  background-image: url("./images/black-corrugated-wallpaper-orange-slash-small.jpg");
  background-position: 0%;
}

header {
  background-image: url("./images/dark-alleyway-city-with-grunge-background.jpg");
  color: yellow;
  font-family: Cyberpnuk2;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

img {
  width: 300px;
}

h4 {
  margin-bottom: 0;
}

p {
  color: rgb(255, 119, 0);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.price {
  color: rgb(255, 0, 0);
  font-size: 12pt;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.product-name {
  font-family: cybero Personal Use;
  font-size: 42px;
  font-weight: bold;
  background-color: rgba(255, 25, 0, 0.3);
  color: aliceblue;
}

.corporation {
  font-family: cyberdyne;
  color: yellow;
}

.store {
  padding-left: 5%;
}
