body {
  background-color: darkslategray;
  background-image: url("./images/black-corrugated-wallpaper-orange-slash-small.jpg");
  background-position: 0%;
}

header {
  background-image: url("./images/dark-alleyway-city-with-grunge-background.jpg");
  color: yellow;
  font-family: Cyberpnuk2;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

img {
  width: 300px;
}

p {
  color: rgb(255, 119, 0);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.product-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: aliceblue;
}

.corporation {
  font-family: cyberdyne;
  color: yellow;
}

.store {
  padding-left: 5%;
}
