body {
  background-color: darkslategray;
}

header {
  font-family: Cyberpnuk2;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

img {
  width: 300px;
}

.product-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: aliceblue;
}
